# The Missing Migrants

#

In [ ]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_table('./MissingMigrantsGlobal.csv', engine= 'python')
data.head(3)

,Web ID,Region of Incident,Reported Date,Reported Year,Reported Month,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Location Description,Information Source,Location Coordinates,Migration Route,URL,UNSD Geographical Grouping,Source Quality
0,51591,Mediterranean,"March 28, 2019",2019,Mar,NaN,2.0,2,36.0,NaN,2.0,NaN,Presumed drowning,"Off the coast of Chios, Greece",Hellenic Coast Guard via IOM Greece,"38.362368696592, 26.172509473654",Eastern Mediterranean,NaN,Uncategorized,5
1,51588,Mediterranean,"March 26, 2019",2019,Mar,4.0,NaN,4,11.0,3.0,NaN,1.0,Presumed drowning,"Off the coast of Ayvac?k district, Çanakkale p...",Turkish Coast Guard via IOM Turkey,"39.441975591614, 26.378816195919",Eastern Mediterranean,http://bit.ly/2YmiPAN,Uncategorized,5
2,51589,Mediterranean,"March 26, 2019",2019,Mar,1.0,NaN,1,NaN,NaN,NaN,NaN,Presumed drowning,"Body recovered on Playa del Tarajal, Ceuta, Sp...","Ceuta al día, El Pueblo de Ceuta","35.871901875921, -5.343037665842",Western Mediterranean,"http://bit.ly/2uyj7qO, http://bit.ly/2uwj5zC",Uncategorized,3

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5333 entries, 0 to 5332
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Web ID                               5333 non-null   int64
 1   Region of Incident                   5333 non-null   object
 2   Reported Date                        5333 non-null   object
 3   Reported Year                        5333 non-null   int64
 4   Reported Month                       5333 non-null   object
 5   Number Dead                          5142 non-null   float64
 6   Minimum Estimated Number of Missing  503 non-null    float64
 7   Total Dead and Missing               5333 non-null   int64
 8   Number of Survivors                  749 non-null    float64
 9   Number of Females                    897 non-null    float64
 10  Number of Males                      2813 non-null   float64
 11  Number of Children                   644 non-null    float64
 12  Cause of Death                       5333 non-null   object
 13  Location Description                 5323 non-null   object
 14  Information Source                   5331 non-null   object
 15  Location Coordinates                 5332 non-null   object
 16  Migration Route                      2660 non-null   object
 17  URL                                  3192 non-null   object
 18  UNSD Geographical Grouping           5322 non-null   object
 19  Source Quality                       5333 non-null   int64
dtypes: float64(6), int64(4), object(10)
memory usage: 833.4+ KB

#

In [9]:
data.isna().any()

Web ID                                 False
Region of Incident                     False
Reported Date                          False
Reported Year                          False
Reported Month                         False
Number Dead                             True
Minimum Estimated Number of Missing     True
Total Dead and Missing                 False
Number of Survivors                     True
Number of Females                       True
Number of Males                         True
Number of Children                      True
Cause of Death                         False
Location Description                    True
Information Source                      True
Location Coordinates                    True
Migration Route                         True
URL                                     True
UNSD Geographical Grouping              True
Source Quality                         False
dtype: bool

# Before moving forward - Let's remove the unwanted fields
including `Web ID, Reported Year, Reported Month, Location Coordinates, URL`

In [22]:
data.drop(['Web ID', 'Reported Year', 'Reported Month', 'Location Coordinates', 'URL'], axis= 1, inplace= True)
data

,Region of Incident,Reported Date,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Location Description,Information Source,Migration Route,UNSD Geographical Grouping,Source Quality
0,Mediterranean,"March 28, 2019",NaN,2.0,2,36.0,NaN,2.0,NaN,Presumed drowning,"Off the coast of Chios, Greece",Hellenic Coast Guard via IOM Greece,Eastern Mediterranean,Uncategorized,5
1,Mediterranean,"March 26, 2019",4.0,NaN,4,11.0,3.0,NaN,1.0,Presumed drowning,"Off the coast of Ayvac?k district, Çanakkale p...",Turkish Coast Guard via IOM Turkey,Eastern Mediterranean,Uncategorized,5
2,Mediterranean,"March 26, 2019",1.0,NaN,1,NaN,NaN,NaN,NaN,Presumed drowning,"Body recovered on Playa del Tarajal, Ceuta, Sp...","Ceuta al día, El Pueblo de Ceuta",Western Mediterranean,Uncategorized,3
3,Mediterranean,"March 26, 2019",1.0,NaN,1,NaN,NaN,NaN,NaN,Presumed drowning,"Body recovered on beach near Tetouan, Morocco ...",El Pueblo de Ceuta,Western Mediterranean,Uncategorized,1
4,Central America,"March 25, 2019",1.0,NaN,1,NaN,NaN,1.0,NaN,Fall from train,"Train tracks in Teacalco, Tlaxcala, Mexico","Megalópolis, Línea de contraste",NaN,Central America,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5328,US-Mexico Border,"January 16, 2014",1.0,NaN,1,NaN,NaN,1.0,NaN,Shot,"near Douglas, Arizona",Ministry of Foreign Affairs Mexico,Central America to US,Northern America,5
5329,Europe,"January 16, 2014",1.0,0.0,1,2.0,NaN,1.0,NaN,Hyperthermia,Border between Russia and Estonia,EUBusiness (Agence France-Presse),NaN,Northern Europe,1
5330,US-Mexico Border,"January 14, 2014",1.0,NaN,1,NaN,NaN,NaN,NaN,Unknown (skeletal remains),Pima County,Pima County Office of the Medical Examiner,Central America to US,Northern America,5
5331,US-Mexico Border,"January 12, 2014",1.0,NaN,1,NaN,NaN,NaN,NaN,Unknown (skeletal remains),Pima County,Pima County Office of the Medical Examiner,Central America to US,Northern America,5
5332,US-Mexico Border,"January 06, 2014",1.0,NaN,1,NaN,NaN,1.0,NaN,Unknown (skeletal remains),Pima County,Humane Borders Arizona Open GIS Initiative,Central America to US,Northern America,5

#

#

# 1. What are the Top 10 Region of Incidents with higher incidents?

In [23]:
data.head(2)

,Region of Incident,Reported Date,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Location Description,Information Source,Migration Route,UNSD Geographical Grouping,Source Quality
0,Mediterranean,"March 28, 2019",NaN,2.0,2,36.0,NaN,2.0,NaN,Presumed drowning,"Off the coast of Chios, Greece",Hellenic Coast Guard via IOM Greece,Eastern Mediterranean,Uncategorized,5
1,Mediterranean,"March 26, 2019",4.0,NaN,4,11.0,3.0,NaN,1.0,Presumed drowning,"Off the coast of Ayvac?k district, Çanakkale p...",Turkish Coast Guard via IOM Turkey,Eastern Mediterranean,Uncategorized,5

In [30]:
top10 = data['Region of Incident'].value_counts()[:10]
top10

US-Mexico Border      1337
North Africa          1239
Mediterranean          984
Sub-Saharan Africa     475
Central America        309
Europe                 249
Horn of Africa         235
Middle East            164
South Asia             151
Southeast Asia          96
Name: Region of Incident, dtype: int64

#

# 2. What is the Percentage of missing Females, Males and Children in top 10 regions of incidents?

In [26]:
data.sample(3)

,Region of Incident,Reported Date,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Location Description,Information Source,Migration Route,UNSD Geographical Grouping,Source Quality
3764,North Africa,"June 01, 2016",2.0,NaN,2,NaN,NaN,NaN,NaN,Starvation,"Unspecified location, Libya",MHub,NaN,Northern Africa,2
2185,Middle East,"September 02, 2017",1.0,NaN,1,NaN,NaN,1.0,1.0,Shot,"Syrian/Turkish border, near Hatay, Turkey",Syrian Observatory for Human Rights,NaN,Western Asia,4
743,Horn of Africa,"July 24, 2018",1.0,NaN,1,NaN,NaN,NaN,NaN,"Sickness and lack of access to medicines, Dehy...","Near Dhobley, Somalia",Mixed Migration Monitoring Mechanism Initiativ...,NaN,Eastern Africa,2

In [34]:
missing = data[data['Region of Incident'].isin(top10.index) ].groupby(['Region of Incident'])[['Total Dead and Missing', 'Number of Females', 'Number of Males', 'Number of Children']].sum()
missing

,Total Dead and Missing,Number of Females,Number of Males,Number of Children
Region of Incident,,,,
Central America,619,39.0,320.0,48.0
Europe,442,35.0,275.0,39.0
Horn of Africa,1152,70.0,236.0,44.0
Mediterranean,18229,811.0,1898.0,670.0
Middle East,406,60.0,142.0,73.0
North Africa,4027,265.0,597.0,144.0
South Asia,286,18.0,180.0,18.0
Southeast Asia,2203,150.0,132.0,363.0
Sub-Saharan Africa,1549,207.0,446.0,148.0
US-Mexico Border,1964,97.0,989.0,26.0

### Based on the Number of missing people (NaN value affecting not sum to 100%)

In [44]:
missing['females'] = (missing['Number of Females'] / missing['Total Dead and Missing']) * 100
missing['males'] = (missing['Number of Males'] / missing['Total Dead and Missing']) * 100
missing['children'] = (missing['Number of Children'] / missing['Total Dead and Missing']) * 100
missing.drop(missing.iloc[:, [0, 1, 2, 3]], axis= 1)

                      females      males   children
Region of Incident
Central America      6.300485  51.696284   7.754443
Europe               7.918552  62.217195   8.823529
Horn of Africa       6.076389  20.486111   3.819444
Mediterranean        4.448955  10.411981   3.675462
Middle East         14.778325  34.975369  17.980296
North Africa         6.580581  14.824932   3.575863
South Asia           6.293706  62.937063   6.293706
Southeast Asia       6.808897   5.991829  16.477531
Sub-Saharan Africa  13.363460  28.792770   9.554551
US-Mexico Border     4.938900  50.356415   1.323829

#

### Based on their ratio

In [45]:
missing_total = missing['Number of Females'] + missing['Number of Males'] + missing['Number of Children']

missing['females'] = (missing['Number of Females'] / missing_total) * 100
missing['males'] = (missing['Number of Males'] / missing_total) * 100
missing['children'] = (missing['Number of Children'] / missing_total) * 100
missing.drop(missing.iloc[:, [0, 1, 2, 3]], axis= 1)

                      females      males   children
Region of Incident
Central America      9.582310  78.624079  11.793612
Europe              10.028653  78.796562  11.174785
Horn of Africa      20.000000  67.428571  12.571429
Mediterranean       24.001184  56.170465  19.828352
Middle East         21.818182  51.636364  26.545455
North Africa        26.341948  59.343936  14.314115
South Asia           8.333333  83.333333   8.333333
Southeast Asia      23.255814  20.465116  56.279070
Sub-Saharan Africa  25.842697  55.680400  18.476904
US-Mexico Border     8.723022  88.938849   2.338129

#

#

#  3. List most common Information Source according to region of incident wise
That means top 3

In [48]:
data.sample(2)

,Region of Incident,Reported Date,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Location Description,Information Source,Migration Route,UNSD Geographical Grouping,Source Quality
918,North Africa,"June 21, 2018",2.0,NaN,2,NaN,NaN,2.0,NaN,"Sickness and lack of access to medicines, Star...","Sabha, Libya",Mixed Migration Monitoring Mechanism Initiativ...,NaN,Northern Africa,2
3904,Middle East,"April 14, 2016",1.0,NaN,1,NaN,NaN,1.0,1.0,Sickness and lack of access to medicines,"Syrian/Turkish border, near al-Duriya",Human Rights Watch,NaN,Western Asia,4

In [71]:
top3 = data[['Region of Incident',  'Information Source']].value_counts()
top3.groupby(['Region of Incident']).apply(lambda x: x.sort_values(ascending= False).head(1)).droplevel(0).sort_values(ascending= False)

Region of Incident  Information Source
US-Mexico Border    Pima County Office of the Medical Examiner                          681
North Africa        Mixed Migration Monitoring Mechanism Initiative (4Mi)               674
Sub-Saharan Africa  Mixed Migration Monitoring Mechanism Initiative (4mi)               269
Horn of Africa      Mixed Migration Monitoring Mechanism Initiative (4Mi)               130
Mediterranean       IOM Libya                                                           102
Middle East         Syrian Observatory for Human Rights                                  96
South Asia          IOM Afghanistan                                                      92
Southeast Asia      Mixed Migration Monitoring Mechanism Initiative (4mi)                18
Europe              Calais Migrant Solidarity                                            13
Central America     Debate                                                                6
Caribbean           El Nuevo Herald                                                       3
South America       El Universal                                                          2
North America       CBC                                                                   1
East Asia           China Central Television (eng); China News Service (eng) (ECNS)       1
Central Asia        Reuters, EurasiaNet, Asia News                                        1
dtype: int64

#

# 4. What are the most common causes of death in every region?
I am interpreting MOST COMMON as MAX

In [85]:
data.sample(3)

,Reg,Reported Date,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause,Location Description,Information Source,Migration Route,UNSD Geographical Grouping,Source Quality
76,Mediterranean,"February 06, 2019",1.0,NaN,1,NaN,NaN,1.0,1.0,Presumed drowning,"Body recovered on Plage El Djebel, between El ...","El Watan, Interlignes, Algérie 360",Central Mediterranean,Uncategorized,3
2152,North Africa,"September 10, 2017",2.0,NaN,2,NaN,NaN,2.0,NaN,"Starvation, Dehydration","Unspecified location in the Sahara desert, Libya",Mixed Migration Monitoring Mechanism Initiativ...,NaN,Northern Africa,2
1353,Sub-Saharan Africa,"March 18, 2018",2.0,NaN,2,NaN,1.0,1.0,2.0,Vehicle Accident,"Ouahigouya, Burkina Faso",Mixed Migration Monitoring Mechanism Initiativ...,NaN,Western Africa,2

## <font color='#fc03b1'> RENAMING! THE BORING TITLES </font>

In [84]:
data.rename({'Region of Incident': 'Reg',
             'Cause of Death': 'Cause'}, axis= 1, inplace= True)

In [105]:
common_causes

Reg               Cause
Caribbean         Dehydration                      1
                  Drowning                        25
                  Drowning, Dehydration            1
                  Hit by truck                     1
                  Murdered                         1
                                                ...
US-Mexico Border  Unknown (mummified remains)      7
                  Unknown (skeletal remains)     468
                  Unknown (violence)               1
                  Vehicle Accident                23
                  Violence                         4
Name: Cause, Length: 454, dtype: int64

In [103]:
common_causes = data.groupby(['Reg', 'Cause'])['Cause'].count()
common_causes.groupby('Reg').apply(lambda x: (x.max(), x.idxmax()[-1]))

Reg
Caribbean                                              (25, Drowning)
Central America                                 (63, Fall from train)
Central Asia                                            (1, Bus fire)
East Asia                                               (3, Drowning)
Europe                                         (52, Vehicle Accident)
Horn of Africa        (103, Sickness and lack of access to medicines)
Mediterranean                                         (535, Drowning)
Middle East                                                (63, Shot)
North Africa          (435, Sickness and lack of access to medicines)
North America                                        (1, Hypothermia)
South America                                     (4, Cardiac arrest)
South Asia                                     (87, Vehicle Accident)
Southeast Asia                                         (29, Drowning)
Sub-Saharan Africa    (150, Sickness and lack of access to medicines)
US-Mexico Border                    (468, Unknown (skeletal remains))
Name: Cause, dtype: object

#

# 5. List number of cases reported month wise in year 2019 ?
Looks like now we have to add those old Month and Year column back...

In [128]:
TempData = pd.read_table('./MissingMigrantsGlobal.csv', engine= 'python', usecols= [0,3,4], names= ['id', 'year', 'month'], header= 0)
TempData.head(3)

      id  year month
0  51591  2019   Mar
1  51588  2019   Mar
2  51589  2019   Mar

In [135]:
TempData[ TempData.year == 2019 ].month.value_counts()

Jan    57
Feb    51
Mar    35
Name: month, dtype: int64

#

#  6. What are the top migration routes

In [137]:
data.sample(5)

,Reg,Reported Date,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause,Location Description,Information Source,Migration Route,UNSD Geographical Grouping,Source Quality
3393,South America,"September 16, 2016",8.0,NaN,8,NaN,NaN,NaN,NaN,Mixed,"Gulf of Uraba, Colombia, near border with Panama",EFE,NaN,Uncategorized,1
2701,US-Mexico Border,"April 15, 2017",1.0,NaN,1,NaN,NaN,1.0,NaN,Unknown,2.5 miles east and 1 mile north of 45742 US Hi...,Hidalgo County Sheriff's Office,Central America to US,Northern America,5
4563,North Africa,"October 19, 2015",3.0,NaN,3,NaN,NaN,NaN,NaN,"Starvation, Dehydration, Excessive Physical Ab...","Sinai, Egypt",Mixed Migration Monitoring Mechanism Initiativ...,NaN,Northern Africa,2
2572,US-Mexico Border,"May 29, 2017",1.0,NaN,1,NaN,NaN,1.0,NaN,Unknown (skeletal remains),Pima County (see spreadsheet for exact location),Pima County Office of the Medical Examiner,Central America to US,Northern America,5
3929,US-Mexico Border,"April 01, 2016",1.0,NaN,1,NaN,NaN,1.0,NaN,Unknown (skeletal remains),Pima County Jurisdiction,Pima County Office of the Medical Examiner,Central America to US,Northern America,5

In [138]:
data['Migration Route'].value_counts()

Central America to US                        1507
Central Mediterranean                         499
Western Mediterranean                         255
Eastern Mediterranean                         230
Western Balkans                                64
Calais to United Kingdom                       51
Horn Africa to Yemen                           15
Western African                                15
Italy to France                                 9
Darien Gap                                      7
Caribbean to Central America                    3
Dominican Republic to Puerto Rico               2
Malaysia to Indonesia                           1
From Haiti to Dajabon, Dominican Republic       1
Venezuela to Curaçao                            1
Name: Migration Route, dtype: int64

#

# 7.  List number of cases reported yearwise and compare them¶

In [140]:
TempData.year.value_counts().sort_index()

2014     245
2015     808
2016    1275
2017    1356
2018    1506
2019     143
Name: year, dtype: int64

#

MY thoughts on this...

    I see (in fact we all can see, it is simple) that as the time passes the number of cases are increasing... from 2014 to 2018 the number of cases are increasing and in the year of 2018 total number of cases is the highest, but somehow in 2019 the least, I mean less than 2014 are present. According to me it is because we are not having the full data of 2019 here in the dataset.

#

In [149]:
for year in range(2014, 2020):
    print(year, TempData[TempData.year == year].month.nunique())

2014 12
2015 12
2016 12
2017 12
2018 12
2019 3

    As you can see, we only have 3 month of data available in 2019. So we can't say exaclty.

# DONE!